
.wizard {
  .content > .title:not(.current) {
    display: none;
  }
  .current-info {
    display: none;
  }
}

.steps {
  ul {
    @extend .nav;
    li a {
      @extend .nav-link;
      @include border-radius($nav-pills-border-radius);
    }
    li.current a {
      color: $nav-pills-active-link-color;
      cursor: default;
      background-color: $nav-pills-active-link-bg;
    }
  }
}

.actions ul {
  @extend .nav;
  @extend .btn-group;
  li {
    @extend .btn;
    @extend .btn-primary;
    a, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}